.header{
    background-color: black;
    color: white;
    height: 100px;
    line-height: 100px;
}
.mainbody{
    background-color: wheat;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}
.footer{
    background-color: black;
    color: white;
    height: 25px;
    line-height: 25px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
}
.common{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
nav{
    background-color: black;
    padding: 10px;
    overflow: hidden;
}
nav a{
    float: left;
    padding: 10px;
    color: aqua;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}
nav a:hover{
    background-color: blue;
}